*
{
    font-family: sans-serif;
    
}

body
{
    background-color: #001;
}

#navbar
{
    background-color: lightgray;
    height: 60px;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    
}

a
{
    margin-right: 150px;
    font-size: 18px;
    text-decoration: none;
    color: blueviolet;
    position: relative;
    top: 13px;
    left: 10px;
}

.logo
{
    color: #f08804;
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 10px;
}


.container
{
    color:darkviolet;
    font-size: 18px;
    text-transform: bold;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    opacity: 1;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm7I2a3AtasqrEumomm2VhWvYV4XWj9jmtig&s);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 10px;
    margin-left: 0;

    border-color: aquamarine;

}

form
{
    
    width: 600px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.fieldset-1
{
    
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    backdrop-filter: blur(10px);
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type=text]
{
    border-radius: 5px;
    border: none;
    outline: none; 
    padding: 7px;
    width: 272px;
    opacity: 1;
    
}

::placeholder
{
    padding: 6px;
}

input[type=text]:focus
{
   background-color: gold;
   outline: none;
}

.fieldset-1 legend b
{
    color: rgb(183, 0, 255);
}

#Gender 
{
    color: rgb(58, 236, 13);
    
}

.fieldset-1, label
{
    color:rgb(253, 207, 3);
}

.country:focus
{
    background-color: gold;
    outline: none;
}

.country:hover
{
    opacity: 0.85;
}


input[type=number]
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 272px;
}

input[type=number]:focus
{
    background-color: gold;
    outline: none;
}

.country
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 7px;
    width: 283px;
}

.gender:focus
{
    background-color: gold;
    cursor: pointer;
    outline-color: gold;
    
}

input[type=email]
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 272px;
}

input[type=email]:focus
{
    background-color: gold;
    outline: none;
}

input[type=password]
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 272px;
    height: 25px;
}

input[type=password]:focus
{
    background-color: gold;
}


input[type=date]:focus
{
    background-color: gold;
    outline: none;
}

input[type=text]:hover
{
    opacity: 0.85;
}

input[type=date]:hover
{
    opacity: 0.85;
}

input[type=radio]:hover
{
    opacity: 0.85;
}

input[type=number]:hover
{
    opacity: 0.85;
}

input[type=email]:hover
{
    opacity: 0.85;
}

input[type=password]:hover
{
    opacity: 0.85;
}

input[type=checkbox]:hover
{
    opacity: 0.85;
}

input[type=submit]
{
    border-radius: 15px;
    border:none;
    background-color:#fff;
    color: black;
    transition: all 0.7s;
    font-weight: 600;
    outline: none;
    height: 25px;
    display: flex;
    justify-content: center;
    place-content: center;
}

input[type=submit]:hover
{
    opacity: 0.85;
    background-image: url(https://images.unsplash.com/photo-1683395287409-538f0b93e299?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    color: #fff;
}

input[type=number]
{
    height: 25px;
}

input[type=email]
{
    height: 25px;
}

select
{
    height: 25px;
}

.city
{
    padding-top: 1px;
}

input[type=text]
{
    padding-top: 10px;
    
}

.fieldset-3
{
    background-image: url(./Images/background-png.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(255, 81, 0);
    background-color: transparent;
    text-align: center;
    place-content: center;
    font-weight: 600;
    border-radius: 15px;
    border-color:lawngreen;
    border-width: 2px;
}

textarea
{
    resize: none;
    border-radius: 7px;
    width: 272px;
    padding-top: 15px;
    padding-left: 20px;
    opacity: 1;
}

textarea::placeholder
{
    padding-top: 0px;
    padding-left: 0px;
}

textarea:focus
{
    background-color: gold;
    outline: none;
}

textarea:hover
{
    opacity: 0.85;
}

